/*IMPORTED GOOGLE FONTS START*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
/* font-family: 'Poppins', sans-serif; */
/*IMPORTED GOOGLE FONTS ENDS*/

/* LOCAL FONTS CSS START */
@font-face {
    font-family: "ConeriaScript";
    src: url("../fonts/ConeriaScript/Demo_ConeriaScript.eot");
    src: url("../fonts/ConeriaScript/Demo_ConeriaScript.eot")format("embedded-opentype"),
        url("../fonts/ConeriaScript/Demo_ConeriaScript.woff2")format("woff2"),
        url("../fonts/ConeriaScript/ConeriaScriptDemo.woff")format("woff"),
        url("../fonts//ConeriaScript/ConeriaScriptDemo.ttf") format("truetype"),
        url("../fonts//ConeriaScript/ConeriaScriptDemo.svg")format("svg");

    font-weight: normal;
    font-style: normal;
}

/* LOCAL FONTS CSS ENDS */


/* ###################### COMMON CSS START ################### */
/* Variables For Theme  */
:root {

    /* colors  */
    /* --ColorLightPrimary: rgb(169, 28, 28); */
    --ColorLightPrimary: rgb(255, 255, 255);
    --ColorLightSecondary: rgb(241, 241, 241);
    --ColorLightExtra: rgb(245, 245, 245);

    
    --ColorDarkPrimary: rgb(33, 33, 33);
    --ColorDarkSecondary: rgb(43, 43, 43);
    /* --ColorDarkSecondary: rgb(68, 68, 68); 
    previous color  */
    --ColorDarkExtra: rgb(120, 120, 120);
    
    /* theme colors  */
    --ColorPrimary: rgb(255, 121, 14);
    --ColorPrimaryAlpha: rgba(141, 106, 29, 0.6);
    --ColorSecondary: #23232D;
    
    /* fonts  */
    --FontPrimary: 'Poppins', sans-serif;
    --FontSecondary: 'ConeriaScript', sans-serif;

    /* shadow and borders  */
    --ColorMix: rgb(206, 212, 218);
    --BoxShadow: 0px 0px 5px 3px rgba(206, 212, 218, 0.5);

}





/* font colors  */
.ColorLightPrimary{
    color: var(--ColorLightPrimary) !important;
    transition: .3s linear;
}
body.dark .ColorLightPrimary{
    color: var(--ColorDarkPrimary) !important;
}

.ColorLightSecondary {
    color: var(--ColorLightSecondary) !important;
    transition: .3s linear;
}
body.dark .ColorLightSecondary {
    color: var(--ColorDarkSecondary) !important;
}

.ColorDarkPrimary {
    color: var(--ColorDarkPrimary) !important;
    transition: .3s linear;
}
body.dark .ColorDarkPrimary {
    color: var(--ColorLightPrimary) !important;
}

.ColorDarkSecondary {
    color: var(--ColorDarkSecondary) !important;
    transition: .3s linear;
}
body.dark .ColorDarkSecondary {
    color: var(--ColorLightSecondary) !important;
}


/* background colors  */
.BgDarkPrimary {
    background: var(--ColorDarkPrimary) !important;
    transition: .3s linear;
}
body.dark .BgDarkPrimary {
    background: var(--ColorLightPrimary) !important;
}

.BgDarkSecondary {
    background: var(--ColorDarkSecondary) !important;
    transition: .3s linear;
}
body.dark .BgDarkSecondary {
    background: var(--ColorLightSecondary) !important;
}
.BgLightPrimary {
    background: var(--ColorLightPrimary) !important;
    transition: .3s linear;
}
body.dark .BgLightPrimary {
    background: var(--ColorDarkPrimary) !important;
}

.BgLightSecondary {
    background: var(--ColorLightSecondary) !important;
    transition: .3s linear;
}
body.dark .BgLightSecondary {
    background: var(--ColorDarkSecondary) !important;
}


/* theme colors  */
.ColorPrimary {
    color: var(--ColorPrimary) !important;
}
.BgPrimary {
    background: var(--ColorPrimary) !important;
}
.BgPrimaryAlpha{
    background: rgba(114, 166, 130, 0.3) !important;
}

/* fonts  */
.FontPrimary {
    font-family: var(--FontPrimary) !important;
}
.FontSecondary {
    font-family: var(--FontSecondary) !important;
}

/* shadows  */
.BoxShadow{
    box-shadow: var(--BoxShadow) !important;
}






* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--FontPrimary);
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    box-sizing: border-box;
    line-height: 1;
    /* overflow-x: hidden; */

    /* position: relative;  */
    /* for double submenu. to make them sticky one after another */

    background: var(--ColorLightSecondary);
    color: var(--ColorDarkPrimary);
}


/* DAY NIGHT MODE SWITCHER START  */


body.dark {
  background: var(--ColorDarkSecondary);
  color: var(--ColorLightPrimary);
}
.dark {
  -webkit-transition: background-color 800ms ease;
  transition: background-color 800ms ease;
}
svg {
  color: var(--ColorDarkPrimary);
}
body.dark svg {
  color: var(--ColorLightPrimary);
}


body.dark .form-control{
    background-color: var(--ColorDarkSecondary);
    color: var(--ColorLightPrimary);
}


/* DAY NIGHT MODE SWITCHER END  */




h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--FontPrimary);
    margin: 0;
    line-height: 1;
    font-weight: 700;
}

p {
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    margin: 0;
    font-family: var(--FontPrimary);
    color: var(--ColorDarkSecondary);
    margin-bottom: 15px;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

a:focus,
input:focus,
textarea:focus,
button:focus,
select:focus,
option:focus,
input:focus {
    outline: none !important;
}

a:focus,
a:hover {
    text-decoration: none;
}

span,
a {
    display: inline-block;
}
a{
    /* margin-bottom: -2px; */
}

a,
button {
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.container {
    margin: 0 auto;
}

.clr {
    clear: both;
}

img {
    /* width: 100%; */
    /* height: 100% ; */
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    vertical-align: middle;
}

.bg_cover {
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    width: 100%;
    height: 100%;
}
.object_cover{
    object-fit: cover;
}

.overlay_inner {
    /* background: var(--overlayColor); */
    /* background: rgb(255, 121, 14, 0.3); */
    width: 100%;
    height: 100%;
}

.overlay_pos {
    /*Make position relative it's parent'*/
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* background: var(--overlayColor); */
}

/* .active {
    color: var(--themeWhite) !important;
    background: var(--themeColor) !important;
} */

.Page_banner{
    min-height: 200px;
}

.preloader {
    position: fixed;
    background: rgba(255, 255, 255, 0.9);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all .3s linear;
    z-index: 9999999999;
    /* background: red; */
}
.preloader_img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.3);
}

.text_space {
    letter-spacing: 2px;
}

.ratio_16-9_parent{
    position: relative;
    width: 100%;
    padding-top: 56.25%;
}
.ratio_16-9_child {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/*== All Button Style ==*/
button{
    border-radius: 10px !important;
    color: var(--ColorLightPrimary);
}
.theme_btn {
    color: var(--ColorLightPrimary);
    background: var(--ColorPrimary);
    border: 1px solid var(--ColorPrimary) !important;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
}
.theme_btn:hover {
    color: var(--ColorDarkPrimary);
    background: transparent;
}
body.dark .theme_btn{
    background: var(--ColorDarkPrimary) !important;
    border: 1px solid var(--ColorDarkPrimary) !important;
}
body.dark .theme_btn:hover{
    border: 1px solid var(--ColorLightPrimary) !important;
    color: var(--ColorLightPrimary);
    background: transparent !important;
}




/*END OF COMMON CSS*/

/*Section Title CSS Start*/
section{
    padding: 60px 0;
}
.section_content{
    margin-top: 30px;
}
.title_wrap > h2 {
    padding-top: 12px;
    padding-bottom: 12px;
	position: relative;
	text-transform: uppercase;
}
.title_wrap > h2::before {
	position: absolute;
	content: '';
	width: 30%;
	height: 2px;
	left: 0%;
	top: 0;
	background: var(--ColorPrimary);
}
.title_wrap > h2::after {
	position: absolute;
	content: '';
	width: 30%;
	height: 2px;
	right: 0%;
	bottom: 0;
	background: var(--ColorPrimary);
}





.h-100{
    height: 100%;
}
svg, i{
    font-size: 18px !important;
}

.body_left,
.body_right{
    width: 275px !important;
}









a.social-icon {
    color: var(--ColorDarkSecondary);
    margin-right: 15px;
    transition: .3s linear;
}

table th{
    text-align: center;
    vertical-align: middle;
    /* color: var(--ColorLightPrimary); */
    padding: 15px !important;
}
table td{
    padding: 10px 20px !important;
}
table th, td {
    /* font-size: 14px; */
    vertical-align: middle;
}
table thead{
    /* background: var(--ColorPrimary); */
}
table thead th:nth-child(2n+2) {
    /* background: #5E8B6C; */
}
table tbody{
    padding-top: 5px;
    border-top: none !important;
}




/* breadcumb area  */
.breadcumb_area nav {
	background: none !important;
}
.breadcrumb {
	margin-bottom: 0 !important;
}
.breadcrumb .breadcrumb-item{
    padding: 12px 10px 12px 0;
}
.breadcrumb .breadcrumb-item a{
    color: var(--ColorDarkPrimary);
}
body.dark .breadcrumb .breadcrumb-item a{
    color: var(--ColorLightPrimary) !important;
}
/* breadcumb area  */














/*Section Title CSS End*/


.mx_3 {
	margin-left: -3px;
	margin-right: -3px;
}
.mx_8{
    margin-left: -8px;
    margin-right: -8px;
}