/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

}



















/* `xs` returns only a ruleset and no media query */
/* ... { ... } */

/* `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 479px) {
    
    
}

@media (max-width: 575px) {
     #search_big .search_big {
        display: none !important;
    }
    .search_icon_mini{
        display: block !important;
    }
    .search_bar {
        padding: 0;
    }
    .search_icon_phone{
        display: block !important;
    }
    .search_actions {
        width: auto;
    }
    

}
/* `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .navbar .offcanvas{
    background: rgba(255, 255, 255, 0.6) !important;
    }

    #body_right.mobile_menu {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        background: var(--BgWhitePrimary);
        transition: .3s linear;
        /* box-shadow: 0px -3px 3px rgba(78, 78, 78, 0.5) !important; */
        border-top: 1px solid #ced4da ;
    }
    body.dark #body_right.mobile_menu {
        background: var(--BgBlackPrimary);
    }

    #body_right.mobile_menu .body_right{
        width: 100% !important;
        
    }
    .offcanvas-body{
        margin-bottom: 50px;
    }
    .search_big{
        display: block !important;
    }
    .search_icon_mini{
        display: none !important;
    }



}

/* `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .search_big{
        display: none;
    }
    .search_icon_mini{
        display: block;
    }

    .search_bar_mini{
        position: fixed;
        left: 0; 
        right: 0; 
        top: -51px; 
        /* min-height: 50px;  */
        background: var(--BgWhitePrimary); 
        z-index: 9999999;
        display: block;
        transition: .3s linear;
    }
    body.dark .search_bar_mini{
        background: var(--BgBlackPrimary); 
    }
    .search_bar_mini.active{
        top: 0 !important;
    }
    .search_bar_mini .search{
        min-height: 50px; 
    }


}

/* `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
    
}

/* `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
    .navbar .offcanvas{
        background: var(--BgWhitePrimary) !important;
        transition: .3s linear;
    }
    body.dark .navbar .offcanvas{
        background: var(--BgBlackPrimary) !important;
    }
    
    
}

