/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 320px) {
    
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

}



















/* `xs` returns only a ruleset and no media query */
/* ... { ... } */

/* `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 479px) {
    .video_side, 
    .content_side{
        height: auto !important;
        overflow-y: visible;
    }
    /* .video_content.mini_view{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 999999;
    }
    .video_content.mini_view .video {
        width: 100%;
    } */
    .video_side .video_details{
        background: red;
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        overflow: scroll;
        height: 200px;

    }
    .video_action .header_shortcut{
        width: 30px;
        height: 30px;
    }
    .video_content .video_title{
        font-size: 16px;
    }
    .video_side{
        background: var(--ColorLightPrimary);
        position: sticky !important;
        top: 0;
        z-index: 99;
        transition: .3s linear;
    }
}

@media (max-width: 575px) {
    .body_left,
    .body_right{
        width: 100% !important;
    }
    .search_icon_phone{
        display: block !important;
    }
    #search_big {
        display: none !important;
    }
    .search_actions {
        width: auto;
    }

    .video_side.phone_view{
        background: var(--ColorLightPrimary);
        position: fixed !important;
        top: 0;
        left: 0;
        right: 0;
        z-index: 999999;
        transition: .3s linear;
        padding-top: 0 !important;
        transition: .3s linear;
    }

    

    
    

}
/* `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .navbar .offcanvas{
    background: rgba(255, 255, 255, 0.6) !important;
    }
    .navbar{
        min-height: auto !important;
    }

    #body_right.mobile_menu {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        background: var(--ColorLightPrimary);
        transition: .3s linear;
        /* box-shadow: 0px -3px 3px rgba(78, 78, 78, 0.5) !important; */
        border-top: 1px solid #ced4da ;
    }
    body.dark #body_right.mobile_menu {
        background: var(--ColorDarkPrimary);
    }

    #body_right.mobile_menu .body_right{
        width: 100% !important;
        
    }
    .offcanvas-footer .header_content_height{
        display: block;
    }


    



}

/* `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    #search_big .search_big{
        display: none;
    }
    .search_icon_tab{
        display: block;
    }





    .search_bar_mini{
        position: fixed;
        left: 0; 
        right: 0; 
        top: -61px; 
        /* min-height: 50px;  */
        background: var(--ColorLightPrimary); 
        z-index: 9999999;
        display: block;
        transition: .3s linear;
    }
    .search_bar_mini.active{
        transition: .3s linear;
        top: 0px;
    }
    body.dark .search_bar_mini{
        background: var(--ColorDarkPrimary); 
    }



}

/* `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
    
}

/* `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
    .navbar .offcanvas{
        background: var(--ColorLightPrimary) !important;
        transition: .3s linear;
    }
    body.dark .navbar .offcanvas{
        background: var(--ColorDarkPrimary) !important;
    }
    
    
}

