/* MODAL CSS STARTS  */
.modal-backdrop{
    z-index: 999999;
    /* background: transparent; */
}

.modal{
    z-index: 99999999;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}
.modal-content{
    background: rgba(255, 255, 255, 0.3) !important;
}
.modal-header{
    padding: 13px 13px;
    border-bottom: 0;
}
.modal-footer {
	padding: .5rem 0.5rem;
	border-top: 0;
}
/* MODAL CSS ENDS  */







/* OFFCANVUS PANELS CSS START  */
.offcanvas-backdrop{
    z-index: 9;
    background: transparent;
}
.offcanvas {
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	background: rgba(255, 255, 255, 0.3) !important;
}

.offcanvas-header{
    transition: .3s linear;
    position: relative;
}
.offcanvas-header::before{
    position: absolute;
    content: '';
    right: 100%;
    bottom: 0;
    width: 1px;
    height: 100%;
    background: var(--BgWhitePrimary);
    transition: .3s linear;
}
body.dark .offcanvas-header::before{
    background: var(--BgBlackPrimary);
}
.offcanvas-header .content{
    height: 50px;
}
body.dark .offcanvas-header{
    background: var(--BgBlackPrimary) !important;
}


.sub_content{
    padding-left: 12px;
    /* will be vary on responsive  */
}
.sub_content button span {
	text-transform: uppercase;
	font-weight: 700;
	padding: 7px 7px;
}
.sub_content.mode_switcher button span{
    padding: 6px 7px;
}
body.dark .sub_content button span{
    color: var(--ColorWhitePrimary);
}
/* OFFCANVUS PANELS CSS END  */







/* HEADER CSS START  */
.search_bar{
    padding: 5px 0;
}
.search_actions{
    width: 100px;
}

.header_shortcut{
    width: 40px;
    height: 40px;
    margin: 5px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: .3s ease;
}

.header_shortcut svg{
    transition: .5s ease;
}
.header_shortcut:hover svg{
    transform: rotate(360deg);
    color: var(--ColorPrimary);
}
.header_shortcut.active svg{
    color: var(--ColorPrimary);
}

.search_btn{
    border: 1px solid #ced4da !important;
}
body.dark .search_btn{
    background: var(--BgBlackSecondary);
}

/* HEADER CSS END  */



/* NAVBAR CSS START  */
.navbar.top-navbar {
    background: var(--ColorWhitePrimary);
    z-index: 9999999;
    box-shadow: 0px 3px 3px rgba(78, 78, 78, 0.5);
}
/* .navbar,
.navbar.top-navbar {
    background: var(--ColorWhitePrimary);
    z-index: 9999999;
    box-shadow: 0px 3px 3px rgba(78, 78, 78, 0.5);
} */
.navbar .offcanvas{
    background: none !important;
}
.body_left .navbar{
    box-shadow: none;
}
.navbar.submenu {
    z-index: 999999;
}
.navbar .nav-item .nav-link{
    text-transform: uppercase;
    font-weight: 700;
    padding: 7px 10px;
    position: relative;
    white-space: nowrap;
    color: var(--ColorBlackPrimary);
}
body.dark .navbar .nav-item .nav-link{
    color: var(--ColorWhitePrimary);
}
.navbar .nav-item .nav-link.active{
    color: var(--ColorPrimary);
}
body.dark .navbar .nav-item .nav-link.active:hover{
    color: var(--ColorPrimary);
}
body.dark .navbar .nav-item .nav-link:focus{
    color: var(--ColorWhitePrimary);
}
.navbar .nav-item .nav-link::before{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background: var(--ColorPrimary);
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    transition: .3s linear;
}
.navbar .nav-item:hover .nav-link::before{
    opacity: 1;
    visibility: visible;
    width: 100%;
}
body.dark .navbar .nav-item .nav-link:hover{
    color: var(--ColorWhitePrimary);
}


.dropdown-menu {
    box-shadow: 0px 3px 3px rgba(78, 78, 78, 0.5);
    border: none;
    width: auto !important;
    margin-top: 0px !important;
    border-radius: 5px !important;
    overflow: hidden;
    transition: .3s linear;
}
body.dark .dropdown-menu {
    background: var(--BgBlackPrimary);
}
.dropdown-menu .dropdown-item{
    text-transform: capitalize;
    padding: 7px 10px;
    position: relative;
    color: var(--ColorWhiteSecondary) !important;
}
.dropdown-menu .dropdown-item:hover{
    background: var(--ColorPrimary);
    color: var(--ColorWhitePrimary) !important;
}

.navbar-toggler:focus {
	text-decoration: none;
	outline: 0;
	box-shadow: 0 0 0 0;
}
/* NAVBAR CSS END  */

/* BANNER CSS START  */

.left_btn,
.right_btn {
    position: absolute;
    top: 50%;
    z-index: 9;
    transform: translateY(-50%);
    transition: .3s linear;
    box-shadow: 0px 0px 10px 1px rgba(78, 78, 78, 0.5);
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    backdrop-filter: blur(10px);
    opacity: 0;
    visibility: hidden;
    transition: .3s linear;
}
.banner_area:hover .left_btn,
.banner_area:hover .right_btn{
    opacity: 1;
    visibility: visible;
}
.left_btn svg,
.right_btn svg {
    transition: .3s linear;
    font-size: 200% !important;
}
.left_btn:hover svg,
.right_btn:hover svg {
    color: var(--ColorPrimary);
}
.left_btn {
    left: 2%;
}
.right_btn {
    right: 2%;
}

.banner_content{
    padding: 10px;
}
.banner_content .banner_text{
    font-family: var(--FontSecondary);
    font-size: 60px;
    padding: 10px;
    margin: 20px 0;
    text-shadow: 1px 1px 1px var(--ColorBlackPrimary);
    color: var(--ColorWhitePrimary);
    line-height: 40px;
}

.banner_simple_slider_wrap .slick-dots{
    position: absolute;
    left: 50%;
    bottom: 4.6%;
    display: flex;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    transition: .3s linear;
}
.banner_area:hover .banner_simple_slider_wrap .slick-dots{
    opacity: 1;
    visibility: visible;
}
.banner_simple_slider_wrap .slick-dots li {
	display: inline-block;
}

.banner_simple_slider_wrap .slick-dots li button {
	font-size: 0;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	border: 1px solid var(--ColorWhitePrimary);
	background: transparent;
    backdrop-filter: blur(5px);
	margin: 5px;
    transition: all .3s linear;
}

.banner_simple_slider_wrap .slick-dots li.slick-active button{
    background: var(--ColorPrimary);
}

/* BANNER CSS END  */

/* DEPARTMENT CSS START  */

.single_content {
	box-shadow: 0px 0px 5px 3px rgba(78, 78, 78, 0.5);
	border-radius: 5px;
	overflow: hidden;
    padding: 10px;
    margin: 12px 0;
    position: relative;
    transition: .3s linear;
}
.single_content:hover{
    box-shadow: none;
    /* border: 2px solid var(--ColorPrimary); */
}
.single_content .overlay_pos div a {
	position: absolute;
	background: transparent;
	height: 11%;
	width: 47%;
	top: 40.5%;
}


/* DEPARTMENT CSS END  */
























